
.content-pro {
    position: relative;
    overflow: hidden
}

.content-pro .content-pro-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content-pro:hover .content-pro-overlay {
    opacity: 1;
    overflow: hidden;
    height: 100%;
}

.content-pro-image {
    width: 100%;
    overflow: hidden;

}
.content-pro-image:hover .content-pro-overlay {
    overflow: hidden;
}

img {

    height: 270px;
 
}

.content-pro-details {
    position: absolute;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content-pro:hover .content-pro-details {
    top: 50%;
    left: 50%;
    opacity: 1;
   
}
.content-pro-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-pro-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}





/* Checkbox */



